.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
  will-change: background-color;
}

.grid-item.grid-item--red {
  background-color: red;
}

.grid-item.grid-item--red:active {
  background-color: blue;
}

.grid-item.grid-item--blue {
  background-color: blue;
}

.grid-item.grid-item--blue:active {
  background-color: green;
}

.grid-item.grid-item--green {
  background-color: green;
}

.grid-item.grid-item--green:active {
  background-color: red;
}
